<div>
  <h3 class="header center pink-text thin">Category Maintenance</h3>
  <div class="row center">
      <button data-target="addCategory" class="btn modal-trigger pink"><i class="material-icons left">add</i>Add Products</button>
  </div>
  
  <div class="container" style="width: 90% !important;">
    <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>Category</th>
            <th>Category Name</th>
            <th style="width: 20% !important;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in vm.persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
             <td>
              <div class="row">
                <div class="col s3">
                  <a href="" class="btn btn-floating"><i class="material-icons left indigo accent-2">search</i></a>
                </div>
                <div class="col s3">
                  <a href="" class="btn btn-floating"><i class="material-icons left green accent-2">create</i></a>
                </div>                
                <div class="col s3">
                  <a href="" class="btn btn-floating"><i class="material-icons lef red accent-2t">delete</i></a>
                </div> 
              </div>
            </td>
        </tr>
        </tbody>
    </table>
  </div>

  <!-- Modal Structure -->
   <div id="addCategory" class="modal">
     <div class="modal-content">
       <h4 class="pink-text">Add Category</h4>
       <p>Create new category</p>

       <div class="row">
            <div class="input-field">
              <input id="name" type="text" name="">
              <label for="#name">Category Name</label>
            </div>
            <div class="input-field">
              <input id="name" type="text" name="">
              <label for="#name">Category Price</label>
            </div>

    </div>
     </div>
     <div class="modal-footer">
       <a class=" modal-action modal-close waves-effect waves-green btn pink">Create</a>
     </div>
   </div>

   <script type="text/javascript">
       $(document).ready(function(){
           $('.modal-trigger').leanModal();
        });
   </script>
  
        
</div>  